#icon {
    margin-right: 25px;
    font-size: large;
}
.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#first {
    margin-top: 100px;
}
.lead {
    margin-top: 30px;
    text-align: justify;
    color: black;
    
}
.paragraph {
    color: gray;
}
#first>#button-1 {
    width: 100px;
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
    
}
#first>.featurette-heading {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#second {
    
    margin-top: 40px;
    
}
#second>#button-1 {
    margin-bottom: 30px;
}
#hr-1 {
    margin-top: -5px;
}
#hr-2 {
    margin-top: -2px;
}
#pic-2 {
    margin-top: -16px;
}
#photo-3 {
    margin-top: -1px;
}
#gallery {
    width: 300px;
    height: 200px;
   
}
.header {
    text-align: center;
    margin: 70px;
}
.table {
    text-align: center;
    font-size: large;
}
#icon-3 {
    font-size: 2rem;
}
#par {
    margin: 25px;
}
#parag {
    margin-left: 10px;
}

#right-part {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
#rights-part {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
#main {
    text-align: center;
}
#other-part {
    border-right: 1px solid gray;
}
#others-part {
    border-right: 1px solid gray;
}
#another-part {
    border-bottom: 1px solid gray;
}
#contact {
    margin-top: 30px;
    margin-bottom: 30px;
}
#btn-email {
    margin-left: 15px;
}
#message-3 {
    margin-top: 20px;
}
#last-btn {
    margin-left: 1100px;
}

@media (max-width:1450px) {
    #image-first {
        width: 500px;
        height: 450px;
    }
    #photo-3 {
        width: 500px;
        height: 450px;
    }
    #pic-2 {
        width: 500px;
        height: 450px;
    }
    
}


@media (max-width:1400px) {
    #bi-bi-pic {
        margin-top: 30px;
    }
    #image-first {
        width: 500px;
        height: 450px;
    }
    #photo-3 {
        width: 500px;
        height: 450px;
    }
    #last-btn {
        margin-left: 900px;
    }
    #pic-2 {
        width: 450px;
        height: 350px;
    }
    #another-part {
        border-right: 1px solid gray;
     }
     #rights-part {
        border-right: none;
        border-bottom: 1px solid gray;
     }
     #other-part {
        border-right: none;
        border-bottom: 1px solid gray;
     }
}
@media (max-width:1350px) {
    #rights-part {
        border-right: none;
        border-bottom: 1px solid gray;
     }
     #another-part {
        border-right: 1px solid gray;
     }
}
@media (max-width:1320px) {
    #biu-pic {
        margin-top: 30px;
    }
    #image-first {
        width: 450px;
        height: 350px;
    }
    #photo-3 {
        width: 450px;
        height: 350px;
    }
    #pic-2 {
        width: 450px;
        height: 350px;
    }
    #last-btn {
        margin-left: 800px;
    }
}
@media (max-width:1000px) {
    #pic-12 {
        margin-bottom: 30px;
        margin-left: 70px;
    }
    #biu-pic {
        margin-left: 70px;
    }
    #bi-bi-pic {
        margin-left: 70px;
    }
    #last-btn {
        margin-left: 400px;
    } 
    #right-part {
        border-right: none;
    }
    #another-part {
        border-right: none;
    }
    #others-part {
        border-right: none;
        border-bottom: 1px solid gray;
    }
}
@media (max-width:540px) {
    #last-btn {
        margin-left: 300px;
    }
    
}
