#icon {
    margin-right: 25px;
    font-size: large;
}
.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#first {
    
    margin-top: 100px;
    border-bottom: 1px solid gray;
}
.lead {
    margin-top: 30px;
    text-align: justify;
    color: black;
    font-size: 1.5rem;
}
.paragraph {
    color: gray;
}
#first>#button-1 {
    width: 100px;
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
    
}
#first>.featurette-heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#second {
    
    margin-top: 100px;
    border-bottom: 1px solid gray;
}
#second>#button-1 {
    margin-bottom: 30px;
}
