#icon {
    margin-right: 25px;
    font-size: large;
}
.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#first {
    margin-top: 100px;
}
.lead {
    margin-top: 30px;
    text-align: justify;
    color: black;
    
}
.paragraph {
    color: gray;
}
#first>#button-1 {
    width: 100px;
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
    
}
#first>.featurette-heading {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#second {
    
    margin-top: 40px;
    
}
#second>#button-1 {
    margin-bottom: 30px;
}
#hr-1 {
    margin-top: -5px;
}
#hr-2 {
    margin-top: -2px;
}
#pic-2 {
    margin-top: -16px;
}
#photo-3 {
    margin-top: -1px;
}
#gallery {
    width: 300px;
    height: 200px;
   
}
.header {
    text-align: center;
    margin: 70px;
}
.table {
    text-align: center;
    font-size: large;
}
#icon-3 {
    font-size: 2rem;
}
#par {
    margin: 25px;
}
#parag {
    margin-left: 10px;
}
#th-1 {
    border-right: 1px solid gray;
}

